<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="NeptunoConnection" 
             connectionString="Data Source=DESKTOP-DLET8R7\SQLEXPRESS;Initial Catalog=Neptuno;User Id=paulin;Password=123456;TrustServerCertificate=true"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>